<h1>Listing agents</h1>

<table>
  <tr>
    <th>Actedonbehalfof</th>
    <th>Label</th>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @agents.each do |agent| %>
  <tr>
    <td>
    <% if agent.actedOnBehalfOf %>
      <%= link_to (agent.actedOnBehalfOf.as(Agent).label || agent.actedOnBehalfOf), agent.actedOnBehalfOf.as(Agent)%></td>
    <% end %>
    </td>
    <td><%= agent.label %></td>
    <td><%= agent.name %></td>
    <td><%= link_to 'Show', agent %></td>
    <td><%= link_to 'Edit', edit_agent_path(agent) %></td>
    <td><%= link_to 'Destroy', agent, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Agent', new_agent_path %>
