<%= form_for @association, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :label, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :label, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :agent, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :agent, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :hadPlan, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :hadPlan, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                associations_path, :class => 'btn' %>
  </div>
<% end %>
