<%- model_class = Association -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:label) %>:</strong></dt>
  <dd><%= @association.label %></dd>
  <dt><strong><%= model_class.human_attribute_name(:agent) %>:</strong></dt>
  <dd>
    <% if @association.agent %>
    <%= link_to (@association.agent.as(Agent).label || @association.agent), agent_path(@association.agent.as(Agent)) %>
    ,
    <% end %>

  </dd>
  <dt><strong><%= model_class.human_attribute_name(:hadPlan) %>:</strong></dt>
  <dd><%= @association.hadPlan %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              associations_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_association_path(@association), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              association_path(@association),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
