<%= form_for @activity, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :subject, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :subject, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :label, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :label, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :generated, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :generated, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :used, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :used, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                activities_path, :class => 'btn' %>
  </div>
<% end %>
