<%= form_for(@activity, url: "/activities/#{@activity.id}") do |f| %>
  <% if @activity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@activity.errors.count, "error") %> prohibited this activity from being saved:</h2>

      <ul>
      <% @activity.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :subject %><br />
    <%= f.text_field :subject %>
  </div>
  <div class="field">
    <%= f.label :label %><br />
    <%= f.text_field :label %>
  </div>
  <% @activity.generated.each do |gen| %>
    <div class="field">
    <%= f.label "Generated" %><br />
    <%= text_field_tag 'activities[]', gen %>
    </div>
  <% end %>

  <% @activity.used.each do |use| %>
    <div class="field">
    <%= f.label "Used" %><br />
    <%= text_field_tag 'activities[]', use %>
    </div>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
