<h1>Listing activities</h1>

<table>
  <tr>
    <th>Label</th>
    <th>Subject</th>
    <th>Generated</th>
    <th>Used</th>
    <th>Associated With</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @activities.each do |activity| %>
  <tr>
    <td><strong><%= activity.label %></strong></td>
    <td><%= activity.subject %></td>
    <td>
    <% activity.generated.each do |entity| %>
    <%= link_to(entity.as(Entity).label || entity, entity.as(Entity)) %>
    ,
    <% end %>
    </td>
    <td>
    <% activity.used.each do |entity| %>
    <%= link_to(entity.as(Entity).label || entity, entity.as(Entity)) %>
    ,
    <% end %>
    </td>
    <td>
    <% activity.wasAssociatedWith.each do |agent| %>
    <%= link_to(agent.as(Agent).label || agent, agent.as(Agent)) %>
    ,
    <% end %>
    </td>
    <td><%= link_to 'Show', activity %></td>

    <td><%= link_to 'Edit', edit_activity_path(activity) %></td>
    <td><%= link_to 'Destroy', activity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Activity', new_activity_path %>
