<%- model_class = Activity -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:subject) %></th>
      <th><%= model_class.human_attribute_name(:label) %></th>
      <th><%= model_class.human_attribute_name(:generated) %></th>
      <th><%= model_class.human_attribute_name(:used) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @activities.each do |activity| %>
      <tr>
        <td><%= link_to activity.subject, activity_path(activity) %></td>
        <td><%= activity.label %></td>
        <td>
            <% if activity.generated.size > 0 %>
                <% activity.generated.each do |generated| %>
                    <%= link_to (generated.as(Entity).label || generated.to_s), entity_path(generated.as(Entity)) %>
                    ,
                <% end %>
            <% end %>
        </td>
        <td>
            <% if activity.used.size > 0 %>
                <% activity.used.each do |used| %>
                    <%= link_to (used.as(Entity).label || used.to_s), entity_path(used.as(Entity)) %>
                    ,
                <% end %>
            <% end %>
        </td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_activity_path(activity), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      activity_path(activity),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_activity_path,
            :class => 'btn btn-primary' %>
