<%- model_class = Activity -%>
<div class="page-header">
  <h1><%=t '.title', :default => @activity.label %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:subject) %>:</strong></dt>
  <dd><%= @activity.subject %></dd>
  <dt><strong><%= model_class.human_attribute_name(:label) %>:</strong></dt>
  <dd><%= @activity.label %></dd>
  <dt><strong><%= model_class.human_attribute_name(:generated) %>:</strong></dt>
  <dd>
    <% if @activity.generated.size > 0 %>
        <% @activity.generated.each do |generated| %>
            <%= link_to (generated.as(Entity).label || generated.to_s), entity_path(generated.as(Entity)) %>
            ,
        <% end %>
    <% end %>
  </dd>
  <dt><strong><%= model_class.human_attribute_name(:used) %>:</strong></dt>
  <dd>
    <% if @activity.used.size > 0 %>
        <% @activity.used.each do |used| %>
            <%= link_to (used.as(Entity).label || used.to_s), entity_path(used.as(Entity)) %>
            ,
        <% end %>
    <% end %>
  </dd>
  <dt><strong>Associated With:</strong></dt>
  <dd>
    <% if @activity.wasAssociatedWith.size > 0 %>
        <% @activity.wasAssociatedWith.each do |wasAssociatedWith| %>
            <%= link_to (wasAssociatedWith.as(Agent).label || wasAssociatedWith.to_s), agent_path(wasAssociatedWith.as(Agent)) %>
            ,
        <% end %>
    <% end %>
  </dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              activities_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_activity_path(@activity), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              activity_path(@activity),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
